*/gen/
*/bin/
local.properties
*/project.properties
*.apk
*.ap_
*.dex
*.class

build
*/build/
*/.gradle/
*.iml

*/.classpath
*/.project
*/.settings
.gradle/
.idea/
captures
.navigation

!.idea/copyright